<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Log In Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
	<script>
	$(document).ready ( function (){
		$("#logInForm").submit ((e) => {
			e.preventDefault();
			const emailVal = $("#emailInput").val();
			const passwordVal = $("#passwordInput").val();
			if (emailVal === "" || passwordVal === "") {
				alert("please input email and password")
				return;
			}
			
			fetch("/logIn", {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json; charset=utf-8'
				},
				body: JSON.stringify({
					'email': emailVal,
					'password': passwordVal
				})
			}).then( response  => {
					if (response.ok){
						return response.json();
					} else {
						 alert("No Users found! Please check your email or password")
						 throw new Error("No Users Found")
					}
			}).then((d) => {
					console.log(d);
					const href = "/bullets/page/1"
					window.location = href
			}).catch((error) => {
					console.log(error)
				});
		})
	})

</script>
</head>
<body>
	<nav class="navbar navbar-primary bg-primary">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Bulletin_Board</span>
      </div>
    </nav>
	<section class="vh-100">
		<div class="container-fluid h-custom">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-md-9 col-lg-6 col-xl-5">
					<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
						alt="Sample image">
				</div>
				<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
					<form id="logInForm">
						<!-- Email input -->
						<div class="form-outline mb-4">
							<input type="email" id="emailInput" class="form-control form-control-lg"
								placeholder="Enter a valid email address" />
							<label class="form-label" for="form3Example3">Email address</label>
						</div>
						<!-- Password input -->
						<div class="form-outline mb-3">
							<input type="password" id="passwordInput" class="form-control form-control-lg"
								placeholder="Enter password" />
							<label class="form-label" for="form3Example4">Password</label>
						</div>
						<!-- Log In Button -->
						<div class="text-center text-lg-start mt-4 pt-2">
							<button id="submitButton" type="submit" class="btn btn-primary btn-lg"
								style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>

</html>